@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* colors */
    --foreground: var(--navy-800);
    --background: var(--white);

    --white: 0 0% 100%;
    --navy-100: 216 71% 95%; // #E7EFFB
    --navy-200: 218 30% 84%; // #CBD4E3
    --navy-400: 214 24% 62%; // #879BB6
    --navy-500: 214 28% 56%; // #718CAF
    --navy-600: 216 33% 36%; // #3E567B
    --navy-800: 218 24% 18%; // #232B39
    --navy-900: 219 23% 14%; // #1C222D

    --blue: 205 71% 60%; // #51A5E1

    --success: 162 70% 45%;
    --error: 0 83% 69%;
  }
}

@layer base {
  body {
    @apply text-p1 bg-background font-sans font-medium text-foreground;
  }
}
