@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* colors */
    --foreground: 218 24% 18%;
    --foreground-light: 216 33% 36%;
    --background: var(--white);

    --blue: 205 71% 60%;
    --blue-foreground: 0 0% 100%;

    --glacier-blue: 198 100% 78%;
    --glacier-blue-foreground: 0 0% 0%;

    --light-blue: 194 81% 94%;
    --light-blue-foreground: 0 0% 0%;

    --dark-navy: 216 39% 16%;
    --dark-navy-foreground: 0 0% 100%;

    --white: 0 0% 100%;
    --white-foreground: 0 0% 0%;

    --success: 162 70% 45%;
    --error: 0 83% 69%;
  }
}

@layer base {
  body {
    @apply bg-background font-sans text-sm font-medium text-foreground;
  }
}
